# Go
/interloki
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/

# Web / Node
web/node_modules/
web/dist/

# Environment
.env
.env.*

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
